<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <style>
        .err{
            color: red;
        }
    </style>
</head>

<body>
    <form action="http://localhost:3000/register" method="POST">
        <table>
            <tr>
                <th><span class="err"><%=errMsg.networkErr%></span></th>
            </tr>
            <tr>
                <th>邮箱：</th>
                <th><input type="text" name="email"></th>
                <th><span class="err"><%=errMsg.emailErr%></span></th>
            </tr>
            <tr>
                <th>昵称：</th>
                <th><input type="text" name="nick_name"></th>
                <th><span class="err"><%=errMsg.nickErr%></span></th>
            </tr>
            <tr>
                <th>密码：</th>
                <th><input type="password" name="password"></th>
                <th><span class="err"><%=errMsg.passwordErr%></span></th>
            </tr>
            <tr>
                <th>重复密码：</th>
                <th><input type="password" name="re_password"></th>
                <th><span class="err"><%=errMsg.reErr%></span></th>
            </tr>
            <tr>
                <th><input type="submit" value="提交"></th>
            </tr>
        </table>

    </form>
</body>

</html>